.flex{
    display: flex;
    justify-content: center;
}

body {
   background-color: rgb(255, 255, 255);
}

.red {
   padding: 100;
   margin: 20;
   background-color: rgb(90, 7, 7);
}

.fundo{
   background-color: black;
}

.med{
   width: 240px;
}

.coluninha{
   height: 140px;
}